<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<script type=text/javascript src="{{url_for('static', filename='js/index.js') }}"></script>

<div class="diagonal-box">
    <div data-aos="fade-up" class="content">
        <a class="selfa" href="/">
            <h1>◢Keyaki Blog Archive</h1>
        </a>
    </div>
</div>
<div data-aos="fade-up" class="diagonal-box bg-one hahaha">
    <div class="content">

        <div class="d-flex justify-content-start">
            <select name="member" class="form-control" id="memberSelect" onchange="change(this.value)">
            {% for name in range(nameList|length) %}
            {% if(member==nameList[name]) %}
            <option selected value="{{nameList[name]}}">{{nameList[name]}}</option>
            {%else%}
            <option value="{{'memberBlog?member='+nameList[name]+'&page=1&sort=a'}}">{{nameList[name]}}</option>
            {%endif%}
            {%endfor%}
        </select>
            <select name="sort" class="form-control" id="sortSelect" onchange="change(this.value)">
            <option value="">Sort by</option>
            <option value="{{'memberBlog?member='+member+'&page=1&sort=a'}}">New to old</option>
            <option value="{{'memberBlog?member='+member+'&page=1&sort=d'}}">Old to new</option>
            
        </select>
        </div>
        <!-- <div class="btn-group">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Right-aligned menu
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <button class="dropdown-item" type="button">Action</button>
                <button class="dropdown-item" type="button">Another action</button>
                <button class="dropdown-item" type="button">Something else here</button>
            </div>
        </div>  -->
        {% if blogData|length ==0 %}
        <br />

        <h3 style="text-align: center; color:rgb(92, 92, 92);">Page Not Found</h3>
        {%else%}

        <!-- pics -->
        <div class="row row-cols-3">
            {% for blog in range(blogData|length) %}
            <div data-aos="zoom-out-up" class="hahhah boxes">

                <div class="column blogPreview img-hover-zoom box" data-toggle="modal" data-target="#modalDetail{{blog}}" style="background-image: url({{blogData[blog]['img'][0]}});">
                    <!-- <img id="{{blog}}" src="{{blogData[blog]['img'][0]}}" class="card-img-top" \> -->

                    <div class="overlay">
                        <div class="text">
                            <p class="title">{{blogData[blog]['title']}}</p>
                            <p class="date">{{blogData[blog]['date']}}</p>
                        </div>

                    </div>

                </div>
            </div>
            {%endfor%}
        </div>
        {%endif%} {% if blogData|length > 0 %}
        <div class="text-center">
            <br />
            <ul class="pagination justify-content-center text-center">
                {%if 5>totalPage%} {% for i in range(totalPage)%}{%if (i+1)==page%}
                <li class="page-item active"><a class="page-link" href="{{'memberBlog?member='+member+'&page='}}{{i+1}}{{'&sort='+sort}}">{{i+1}}</a></li>
                {%else%}
                <li class="page-item"><a class="page-link" href="{{'memberBlog?member='+member+'&page='}}{{i+1}}{{'&sort='+sort}}">{{i+1}}</a>
                </li>
                {%endif%} {%endfor%} {%else%} {%if page==1 %}
                <li class="page-item active"><a class="page-link" href="{{'memberBlog?member='+member+'&page='}}{{page}}{{'&sort='+sort}}">{{page}}</a></li>
                <li class="page-item"><a class="page-link" href="{{'memberBlog?member='+member+'&page='}}{{page+1}}{{'&sort='+sort}}">{{page+1}}</a>
                </li>
                <li class="page-item"><a class="page-link" href="{{'memberBlog?member='+member+'&page='}}{{page+2}}{{'&sort='+sort}}">{{page+2}}</a>
                </li>
                <li class="page-item"><a class="page-link" href="{{'memberBlog?member='+member+'&page='}}{{page+3}}{{'&sort='+sort}}">{{page+3}}</a>
                </li>
                <li class="page-item"><a class="page-link" href="{{'memberBlog?member='+member+'&page='}}{{page+4}}{{'&sort='+sort}}">{{page+4}}</a>
                </li>
                {% elif page==2 %}
                <li class="page-item"><a class="page-link" href="{{'memberBlog?member='+member+'&page='}}{{page-1}}{{'&sort='+sort}}">{{page-1}}</a>
                </li>
                <li class="page-item active"><a class="page-link" href="{{'memberBlog?member='+member+'&page='}}{{page}}{{'&sort='+sort}}">{{page}}</a></li>
                <li class="page-item"><a class="page-link" href="{{'memberBlog?member='+member+'&page='}}{{page+1}}{{'&sort='+sort}}">{{page+1}}</a>
                </li>
                <li class="page-item"><a class="page-link" href="{{'memberBlog?member='+member+'&page='}}{{page+2}}{{'&sort='+sort}}">{{page+2}}</a>
                </li>
                <li class="page-item"><a class="page-link" href="{{'memberBlog?member='+member+'&page='}}{{page+3}}{{'&sort='+sort}}">{{page+3}}</a>
                </li>
                {% elif page==totalPage %}
                <li class="page-item"><a class="page-link" href="{{'memberBlog?member='+member+'&page='}}{{page-4}}{{'&sort='+sort}}">{{page-4}}</a>
                </li>
                <li class="page-item"><a class="page-link" href="{{'memberBlog?member='+member+'&page='}}{{page-3}}{{'&sort='+sort}}">{{page-3}}</a>
                </li>
                <li class="page-item"><a class="page-link" href="{{'memberBlog?member='+member+'&page='}}{{page-2}}{{'&sort='+sort}}">{{page-2}}</a>
                </li>
                <li class="page-item"><a class="page-link" href="{{'memberBlog?member='+member+'&page='}}{{page-1}}{{'&sort='+sort}}">{{page-1}}</a>
                </li>
                <li class="page-item active"><a class="page-link" href="{{'memberBlog?member='+member+'&page='}}{{page}}{{'&sort='+sort}}">{{page}}</a></li>
                {% elif page==totalPage-1 %}
                <li class="page-item"><a class="page-link" href="{{'memberBlog?member='+member+'&page='}}{{page-3}}{{'&sort='+sort}}">{{page-3}}</a>
                </li>
                <li class="page-item"><a class="page-link" href="{{'memberBlog?member='+member+'&page='}}{{page-2}}{{'&sort='+sort}}">{{page-2}}</a>
                </li>
                <li class="page-item"><a class="page-link" href="{{'memberBlog?member='+member+'&page='}}{{page-1}}{{'&sort='+sort}}">{{page-1}}</a>
                </li>
                <li class="page-item active"><a class="page-link" href="{{'memberBlog?member='+member+'&page='}}{{page}}{{'&sort='+sort}}">{{page}}</a></li>
                <li class="page-item"><a class="page-link" href="{{'memberBlog?member='+member+'&page='}}{{page+1}}{{'&sort='+sort}}">{{page+1}}</a>
                </li>
                {%else%}
                <li class="page-item"><a class="page-link" href="{{'memberBlog?member='+member+'&page='}}{{page-2}}{{'&sort='+sort}}">{{page-2}}</a>
                </li>
                <li class="page-item"><a class="page-link" href="{{'memberBlog?member='+member+'&page='}}{{page-1}}{{'&sort='+sort}}">{{page-1}}</a>
                </li>
                <li class="page-item active"><a class="page-link" href="{{'memberBlog?member='+member+'&page='}}{{page}}{{'&sort='+sort}}">{{page}}</a></li>
                <li class="page-item"><a class="page-link" href="{{'memberBlog?member='+member+'&page='}}{{page+1}}{{'&sort='+sort}}">{{page+1}}</a>
                </li>
                <li class="page-item"><a class="page-link" href="{{'memberBlog?member='+member+'&page='}}{{page+2}}{{'&sort='+sort}}">{{page+2}}</a>
                </li>

                {%endif%} {%endif%}
            </ul>

        </div>
        {%endif%}

    </div>



</div>



<div class="clip-path clip-path2">
    <div class="content">
        <!-- <h2>Update 28. Feb. 2020:<br>Combine with Clip-Path</h2>
        <p>Quite a few people mentioned to me that you could also do this by using clip-path. So I added this section here, where there is no skew-transform, but parts of the section are hidden with clip-path.</p>
        <p>This technique works fine as well, only the calculation of the padding is a little harder, as you need both the width of the container and the width of the viewport.</p>
        <p>The significant advantage, though: you can place background-images to the section without them being transformed.
        </p> -->
    </div>
</div>


<!-- Modal -->
{% if blogData|length !=0 %} {% for blog in range(blogData|length) %}
<div class="modal fade" id="modalDetail{{blog}}" tabindex="-1" role="dialog" aria-labelledby="modalDetailTitle{{blog}}" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalDetailTitle{{blog}}">{{blogData[blog]['title']}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="date">{{blogData[blog]['date']}}</p><br />
                <div class="row">
                    {%for j in blogData[blog]['img'] %}
                    <div class="column">
                        <img id="detail{{blog}}" src="{{j}}" class="detailImg img-responsive" \>
                    </div>
                    {%endfor%}
                </div>
            </div>
        </div>
    </div>
</div>
{%endfor%} {%endif%}

<script>
    // $(document).ready(function() {
    //     $(".box").mouseover(function() {
    //         console.log("aaa")
    //         $(".bg-one").addClass(".bg-two")
    //     });
    // });
    $('#myModal').on('shown.bs.modal', function() {
        $('#myInput').trigger('focus')
    })

    function change(link) {
        changeUrl(link)
            // let tempList = document.getElementById('listInput').value
            // console.log(tempList)
    }

    function changeUrl(link) {

        console.log(link)
        location.href = link;
    }

    let blogs = document.getElementsByClassName("card-img-top");
    for (let i = 0; i < blogs.length; i++) {
        crop(blogs[i].src, 1).then(canvas => {
            // `canvas` is the resulting image
            // document.body.appendChild(canvas);

            // blogs[i].src = canvas.toDataURL();
            try {
                blogs[i].src = canvas.toDataURL("image/png");
            } catch (err) {
                console.log("Error: " + err);
            }

        })
    }


    function crop(url, aspectRatio) {

        // we return a Promise that gets resolved with our canvas element
        return new Promise(resolve => {

            // this image will hold our source image data
            const inputImage = new Image();
            inputImage.crossOrigin = 'Anonymous';
            inputImage.setAttribute("crossOrigin", 'Anonymous')

            // we want to wait for our image to load
            inputImage.onload = () => {

                // let's store the width and height of our image
                const inputWidth = inputImage.naturalWidth;
                const inputHeight = inputImage.naturalHeight;

                // get the aspect ratio of the input image
                const inputImageAspectRatio = inputWidth / inputHeight;

                // if it's bigger than our target aspect ratio
                let outputWidth = inputWidth;
                let outputHeight = inputHeight;
                if (inputImageAspectRatio > aspectRatio) {
                    outputWidth = inputHeight * aspectRatio;
                } else if (inputImageAspectRatio < aspectRatio) {
                    outputHeight = inputWidth / aspectRatio;
                }

                // calculate the position to draw the image at
                const outputX = (outputWidth - inputWidth) * .5;
                const outputY = (outputHeight - inputHeight) * .5;

                // create a canvas that will present the output image
                const outputImage = document.createElement('canvas');

                // set it to the same size as the image
                outputImage.width = outputWidth;
                outputImage.height = outputHeight;

                // draw our image at position 0, 0 on the canvas
                const ctx = outputImage.getContext('2d');
                ctx.drawImage(inputImage, outputX, outputY);
                resolve(outputImage);
            };

            // start loading our image
            // inputImage.crossOrigin = 'Anonymous';
            // inputImage.setAttribute("crossOrigin", 'Anonymous')
            inputImage.src = url;
        })

    }
</script>