<div class="card w-75 align-middle wrapper">
    <div class="card-body">

        <!-- Modal -->
        {% if blogData|length !=0 %} {% for blog in range(blogData|length) %}
        <div class="modal fade" id="modalDetail{{blog}}" tabindex="-1" role="dialog" aria-labelledby="modalDetailTitle{{blog}}" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalDetailTitle{{blog}}">{{blogData[blog]['title']}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                    </div>
                    <div class="modal-body">
                        <p class="date">{{blogData[blog]['date']}}</p>
                        <div class="row">
                            {%for j in blogData[blog]['img'] %}
                            <div class="column">
                                <img id="detail{{blog}}" src="{{j}}" class="detailImg img-responsive" \>
                            </div>
                            {%endfor%}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {%endfor%} {%endif%}
        <form action="/memberBlog" method="get"></form>

        <select name="member" class="form-control form-control-lg" id="memberSelect" onchange="change(this.value)">
            {% for name in range(nameList|length) %}
            {% if(member==nameList[name]) %}
            <option selected value="{{nameList[name]}}">{{nameList[name]}}</option>
            {%else%}
            <option value="{{'memberBlog?member='+nameList[name]+'&page=1'}}">{{nameList[name]}}</option>
            {%endif%}
            {%endfor%}
        </select>

        </form>
        {% if blogData|length ==0 %}
        <br />
        <h3 style="text-align: center; color:rgb(92, 92, 92);">Page Not Found</h3>
        {%else%}

        <div class="row row-cols-3">
            {% for blog in range(blogData|length) %}
            <div class="hahhah">
                <div class="column blogPreview img-hover-zoom" data-toggle="modal" data-target="#modalDetail{{blog}}">
                    <img id="{{blog}}" src="{{blogData[blog]['img'][0]}}" class="card-img-top" \>
                    <div class="overlay">
                        <div class="text">
                            <p class="title">{{blogData[blog]['title']}}</p>
                            <p class="date">{{blogData[blog]['date']}}</p>
                        </div>

                    </div>

                </div>
            </div>
            {%endfor%}
        </div>
        {%endif%} {% if blogData|length > 0 %}
        <div class="text-center">
            <br/>
            <ul class="pagination justify-content-center text-center">
                {%if 5>totalPage%} {% for i in range(totalPage)%}{%if (i+1)==page%}
                <li class="page-item active bg-dark"><a class="page-link" href="{{'memberBlog?member='+member+'&page='}}{{i+1}}">{{i+1}}</a></li>
                {%else%}
                <li class="page-item"><a class="page-link" href="{{'memberBlog?member='+member+'&page='}}{{i+1}}">{{i+1}}</a></li>
                {%endif%} {%endfor%} {%else%} {%if page==1 %}
                <li class="page-item active"><a class="page-link" href="{{'memberBlog?member='+member+'&page='}}{{page}}">{{page}}</a></li>
                <li class="page-item"><a class="page-link" href="{{'memberBlog?member='+member+'&page='}}{{page+1}}">{{page+1}}</a></li>
                <li class="page-item"><a class="page-link" href="{{'memberBlog?member='+member+'&page='}}{{page+2}}">{{page+2}}</a></li>
                <li class="page-item"><a class="page-link" href="{{'memberBlog?member='+member+'&page='}}{{page+3}}">{{page+3}}</a></li>
                <li class="page-item"><a class="page-link" href="{{'memberBlog?member='+member+'&page='}}{{page+4}}">{{page+4}}</a></li>
                {% elif page==2 %}
                <li class="page-item"><a class="page-link" href="{{'memberBlog?member='+member+'&page='}}{{page-1}}">{{page-1}}</a></li>
                <li class="page-item active"><a class="page-link" href="{{'memberBlog?member='+member+'&page='}}{{page}}">{{page}}</a></li>
                <li class="page-item"><a class="page-link" href="{{'memberBlog?member='+member+'&page='}}{{page+1}}">{{page+1}}</a></li>
                <li class="page-item"><a class="page-link" href="{{'memberBlog?member='+member+'&page='}}{{page+2}}">{{page+2}}</a></li>
                <li class="page-item"><a class="page-link" href="{{'memberBlog?member='+member+'&page='}}{{page+3}}">{{page+3}}</a></li>
                {% elif page==totalPage %}
                <li class="page-item"><a class="page-link" href="{{'memberBlog?member='+member+'&page='}}{{page-4}}">{{page-4}}</a></li>
                <li class="page-item"><a class="page-link" href="{{'memberBlog?member='+member+'&page='}}{{page-3}}">{{page-3}}</a></li>
                <li class="page-item"><a class="page-link" href="{{'memberBlog?member='+member+'&page='}}{{page-2}}">{{page-2}}</a></li>
                <li class="page-item"><a class="page-link" href="{{'memberBlog?member='+member+'&page='}}{{page-1}}">{{page-1}}</a></li>
                <li class="page-item active"><a class="page-link" href="{{'memberBlog?member='+member+'&page='}}{{page}}">{{page}}</a></li>
                {% elif page==totalPage-1 %}
                <li class="page-item"><a class="page-link" href="{{'memberBlog?member='+member+'&page='}}{{page-3}}">{{page-3}}</a></li>
                <li class="page-item"><a class="page-link" href="{{'memberBlog?member='+member+'&page='}}{{page-2}}">{{page-2}}</a></li>
                <li class="page-item"><a class="page-link" href="{{'memberBlog?member='+member+'&page='}}{{page-1}}">{{page-1}}</a></li>
                <li class="page-item active"><a class="page-link" href="{{'memberBlog?member='+member+'&page='}}{{page}}">{{page}}</a></li>
                <li class="page-item"><a class="page-link" href="{{'memberBlog?member='+member+'&page='}}{{page+1}}">{{page+1}}</a></li>
                {%else%}
                <li class="page-item"><a class="page-link" href="{{'memberBlog?member='+member+'&page='}}{{page-2}}">{{page-2}}</a></li>
                <li class="page-item"><a class="page-link" href="{{'memberBlog?member='+member+'&page='}}{{page-1}}">{{page-1}}</a></li>
                <li class="page-item active"><a class="page-link" href="{{'memberBlog?member='+member+'&page='}}{{page}}">{{page}}</a></li>
                <li class="page-item"><a class="page-link" href="{{'memberBlog?member='+member+'&page='}}{{page+1}}">{{page+1}}</a></li>
                <li class="page-item"><a class="page-link" href="{{'memberBlog?member='+member+'&page='}}{{page+2}}">{{page+2}}</a></li>

                {%endif%} {%endif%}
            </ul>

        </div>
    </div>

    {%endif%}
</div>
<script>
    $('#myModal').on('shown.bs.modal', function() {
        $('#myInput').trigger('focus')
    })

    function change(link) {
        changeUrl(link)
            // let tempList = document.getElementById('listInput').value
            // console.log(tempList)
    }

    function changeUrl(link) {

        console.log(link)
        location.href = link;
    }
</script>